@page
@model ILikeClinic.Pages.Patient.PatientDoctorInfoModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Doctor Info
            </h2>
        </div>
        <input asp-for="Doctor.Id" hidden/>
    </div>

    <img src="@Url.Content(Model.Doctor.ProfilePhoto)" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => Model.Doctor.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Doctor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => Model.Doctor.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem=> Model.Doctor.LicenseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem=> Model.Doctor.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Doctor.Speciality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => Model.Doctor.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Doctor.Description)
        </dd>
    </dl>
    <br />

    <div>
        <a asp-page="PatientFindDoctor" asp-route-id="" class="text-info form-control fs-5">Back to the list</a>
    </div>


</div>