@page
@using Microsoft.AspNetCore.Identity
@model ILikeClinic.Pages.Patient.PatientHomeModel
@{
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<partial name="_ToastrNotification" />
<br />
<h1 class="text-info">My Profile</h1>
<br />
<div class="border container p-4">

    <div class="container fs-5">

            <div class="row m-3">
                <div class="col-2 ">
                    <div class="text-primary">First Name :</div>
                </div>
                <div class="col-4">
                    <div class="">@Model.Patient.FirstName</div>
                </div>
                <div class="col-2 ">
                    <div class="text-primary">Last Name : </div>
                 </div>
                <div class="col-4">
                    <div class="">@Model.Patient.LastName</div>
                </div>
            </div>

            <div class="row  m-3">
                <div class="col-2 ">
                    <div class="text-primary">Gender : </div>
                </div>
                <div class="col-4">
                    <div class="">@Model.Patient.Gender</div>
                </div>
                <div class="col-2 ">
                    <div class="text-primary">Date Of Birth : </div>
                 </div>
                <div class="col-4">
                    <div class="">@Model.Patient.DateOfBirth.ToString("yyyy/MM/dd")</div>
                </div>
            </div>

            <div class="row  m-3">
                <div class="col-2 ">
                    <div class="text-primary">Phone Number : </div>
                </div>
                <div class="col-4">
                    <div class="">@Model.Patient.PhoneNumber</div>
                </div>
                <div class="col-2 ">
                    <div class="text-primary">Medical Card No: </div>
                 </div>
                <div class="col-4">
                    <div class="">@Model.Patient.MedicalCardNo</div>
                </div>
            </div>

            <div class="row  m-3">
                <div class="col-2">
                    <div class="text-primary">Address : </div>
                </div>
                <div class="col-6">
                    <div class="">@Model.Patient.Address</div>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-2">
                    <div class="text-primary">Family Doctor : </div>
                </div>
                <div class="col-6">
                    <div class="">@((Model.doctor != null) ?  Model.doctor.FullName : "No Family Doctor ")</div>
                </div>
            </div>


            <br />
            <br />
            <div class="btn-group w-100" role="group">

                <div class="col-3 offset-1">
                    <a asp-page="PatientMedicalDoc" asp-route-id="@Model.Patient.Id" class="btn btn-info form-control">Check My Medical Document</a>
                </div>

                <div class="col-3 offset-3">
                    @if (Model.Patient.Id != 0)
                    {
                        <a asp-route-id="@Model.Patient.Id" asp-page="AddMyFile" class="btn btn-info form-control">Edit My File</a>
                    }
                    else
                    {
                        <a asp-page="AddMyFile" class="btn btn-info form-control ">Create My File</a>
                    }
                </div>


               
            </div>

        </div>




</div>


