@page
@model ILikeClinic.Pages.Patient.PatientMedicalDocModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info bottom-left">
                All Your Medical Documents
            </h2>
        </div>
    </div>

    <br />
</div>
@foreach (var item in Model.MedicalHistory)
{
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="@item.Id">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@item.Allergy" aria-expanded="true" aria-controls="@item.Allergy">
                    Date Of Appointment:@item.DateOfApp.ToString("yyyy-MM-dd")
                </button>
            </h2>
            <div id="@item.Allergy" class="accordion-collapse collapse show" aria-labelledby="@item.Id" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>Doctor: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @item.Doctor.FullName</li>
                        <li>Weight: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @item.Weight cm</li>
                        <li>Height: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @item.Height kg</li>
                        <li>Blood Pressure: @item.BloodPressure</li>
                        <li>Temperature: &nbsp &nbsp &nbsp @item.Temperature &deg; C</li>
                        <li>Allergy: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @item.Allergy</li>
                        <li>Health Situation: &nbsp @item.HealthSituation</li>
                        <li>Document Uploaded:&nbsp @item.MedicalDocUrl</li>
                    </ul>
                    <div class="btn-group col-4" role="group">
                        <a asp-route-id="@item.Id" class="btn btn-secondary disabled">Download This File</a>
                        <span style="width:100px" class="fs-4">   &nbsp           &nbsp       </span>

                        <a asp-route-id="@item.Id" class="btn btn-secondary disabled">Print</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div class="col-3">
    <a asp-page="PatientHome" class="text-info form-control fs-5">Go back to My Profile</a>
</div>