@page
@model ILikeClinic.Pages.Admin.IndexModel
@{

}
<partial name="_ToastrNotification" />

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#overview" aria-selected="false" role="tab" tabindex="-1">Overview</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#doctors" aria-selected="true" role="tab">Doctors</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#patients" aria-selected="false" role="tab">Patients</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#appointments" aria-selected="false" role="tab">Appointments</a>
  </li>
   <li class="nav-item" role="presentation">
    <a class="nav-link " data-bs-toggle="tab" href="#messagebox" aria-selected="false" role="tab">Message Box</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="overview" role="tabpanel">
      <br/>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Doctors</font></font></div>
  <div class="card-body">   
    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
        <a class="text-primary">20 </a>doctors.</font></font></p>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Patients</font></font></div>
  <div class="card-body">

    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
         <a class="text-primary">145 </a>
         patients.</font></font></p>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Appointments</font></font></div>
  <div class="card-body">
    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
          <a class="text-primary">50 </a>
           new appointments.</font></font></p>
  </div>
</div>



  </div>
  <!--doctors-->
    <div class="tab-pane fade " id="doctors" role="tabpanel">
         <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Doctor List
                </h2>
            </div>

   

            <div class="col-6 text-end">
                <a asp-page="Doctor_Create_Account" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp Add a Doctor
                </a>
            </div>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Speciality
                </th>
                <th>
                    Gender
                </th>
                <th>
                    HiredDate
                </th>
                <th>
                    Description
                </th>
                <th>
                
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Doctors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speciality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                    
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

   <!--patient-->
   <div class="tab-pane fade " id="patients" role="tabpanel">
       
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Patient List
            </h2>
        </div>

   

        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Add a Patient
            </a>
        </div>
    </div>

</div>



<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
                Medical Card No
            </th>
            
          
        </tr>
    </thead>
    <tbody>
 
        @foreach (var item in Model.Doctors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                   
                </td>
               
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
     </div>
   <div class="tab-pane fade " id="appointments" role="tabpanel">
    </div>

    <!-- message-->
   <div class="tab-pane fade " id="messagebox" role="tabpanel">              
        <div class="container p-3">
            <div class="row pt-4">
                <div class="col-6">
                    <h2 class="text-primary">
                        Message List
                    </h2>
                </div>

   

                <div class="col-6 text-end">
                    <a asp-page="create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp Write a new Message
                    </a>
                </div>
            </div>

        </div>



        <table class="table">
            <thead>
                <tr>
                    <th>
                        From
                    </th>
                    
                    <th>
                        Text
                    </th>
                    <th>
                        Time
                    </th>
                              
                     <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
 
                @foreach (var item in Model.Messages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FromId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>                                       
                        <td>
                            <a asp-page="./Reply" asp-route-id="@item.Id">Reply</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
   </div>
  
</div>
