@page
@using Microsoft.AspNetCore.Identity
@using ILikeClinic.Model
@model ILikeClinic.Pages.Doctors.AppointmentToDoctorModel
@{
    ViewData["Title"] = "Appointments By the doctor";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Appointments for Dr. @Model.Doctor.FullName
            </h2>
        </div>
    </div>
</div>

<form>
    <p>
        Search Patient by Name: <input type="text" asp-for="SearchNameString" />
        
        <input type="submit" value="Filter" />
    </p>
</form>

<form method="post">
<table class="table">
    <thead>
        <tr>


            <th>
                Full Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
                Medical Card No
            </th>
            <th>
                Appointment Time
            </th>
            <th>
                Reason for appointment
            </th>
            <th>
                Actions
            </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Appointments)
        {
            <tr>


                <td>
                    @item.Patient.FullName
                </td>
                <td>
                    @item.Patient.PhoneNumber
                </td>
                <td>
                    @item.Patient.DateOfBirth
                </td>
                <td>
                    @item.Patient.Gender
                </td>
                <td>
                    @item.Patient.MedicalCardNo
                </td>
                <td>
                    @item.AppStartAt.ToString()
                </td>
                <td>
                    @item.Reason
                </td>

                <td>
                        <div class="btn-group" role="group">
                              <a asp-page="DoctorModifyAppointment" asp-route-id="@item.Id" class="btn btn-primary mx-2   @((item.Status.Equals("Finished")) ?"disabled": null) ">
                                Edit
                            </a>

                            <a asp-page="RejectAppointment"  asp-route-id="@item.Id" class="btn btn-danger mx-2 ">
                                Reject
                            </a>
                   
                        </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>