@page
@using ILikeClinic.Model
@using Microsoft.AspNetCore.Identity
@model ILikeClinic.Pages.Doctors.UpsertModel

@{
    ViewData["Title"] = "Doctor Profile";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<partial name="_ToastrNotification" />

<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="Doctor.Id" />
            <input hidden asp-for="Doctor.ProfilePhoto"/>
            <div class="p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="pl-3">
                        @((Model.Doctor != null && Model.Doctor?.Id != 0) ? "Update" : "Add") your profile
                    </h2>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.FirstName" class="control-label"></label>
                        <input asp-for="Doctor.FirstName" class="form-control" />
                        <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.LastName" class="control-label"></label>
                        <input asp-for="Doctor.LastName" class="form-control" />
                        <span asp-validation-for="Doctor.LastName" class="text-danger"></span>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.DOB" class="control-label">Date of Birth</label>
                        <input class="form-control" asp-for="@Model.Doctor.DOB" autocomplete="on" asp-format="{0:yyyy-MM-dd}" />
                        <span asp-validation-for="Doctor.DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.Speciality" class="control-label"></label>
                        <input asp-for="Doctor.Speciality" class="form-control" />
                        <span asp-validation-for="Doctor.Speciality" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.PhoneNumber" class="control-label"></label>
                        <input asp-for="Doctor.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.HiredDate" class="control-label"></label>
                        <input class="form-control" asp-for="@Model.Doctor.HiredDate" autocomplete="on" asp-format="{0:yyyy-MM-dd}" />
                        <span asp-validation-for="Doctor.HiredDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.Gender" class="form-label mt-4"></label>
                        <select asp-for="Doctor.Gender"  asp-items="Html.GetEnumSelectList<Gender>()" class="form-select">
                            <option value="">---Select Gender ---</option>

                        </select>
                        <span asp-validation-for="Doctor.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Doctor.ProfilePhoto" class=" form-label mt-4"></label>
                        <input class="form-control" type="file" name="files" id="profilePhoto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Doctor.LicenseNumber" class="control-label"></label>
                            <input asp-for="Doctor.LicenseNumber" class="form-control" />
                            <span asp-validation-for="Doctor.LicenseNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
@*                    @if(Model.Doctor != null){
                        <img src="@Model.Doctor.ProfilePhoto" width="50%" style="border-radius:5px; border:1px solid #bbb9b9"/>
                    }*@

                    <img src="@(Model.Doctor == null ? Href("~/images/doctorPhotos/default.png") : Model.Doctor.ProfilePhoto)" width="50%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Doctor.Description" class="control-label"></label>
                        <textarea class="form-control" asp-for="Doctor.Description" id="DescriptionTextarea" rows="4"></textarea>
                        <span asp-validation-for="Doctor.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-secondary text-bg-info" />

                </div>
            </div>
        </form>
    </div>
</div>





@{
    <partial name="_ValidationScriptsPartial" />
}
