@page
@model ILikeClinic.Pages.DoctorListModel
@{
}
@{
    ViewData["Title"] = "Doctor List";
}




<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Our Doctors
            </h2>
        </div>
      
    </div>

</div>


        @foreach (var item in Model.Doctors)
        {   
            <div class="row mt-6">

                <div class="col m-2">
            <img src="@Url.Content(@item.ProfilePhoto)" />
                </div>
           
       
            <div class="col-6 m-2">
            <dl class="row">
                <dt class="col-sm-3">          
                    @Html.DisplayNameFor(modelItem => item.FullName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(modelItem => item.FullName)            
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(modelItem => item.LicenseNumber)
                </dt>
                    <dd class="col-sm-8">
                @Html.DisplayFor(modelItem=> item.LicenseNumber)
                    </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(modelItem=> item.Speciality)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(modelItem => item.Speciality)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(modelItem => item.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(modelItem => item.Description)
                </dd>
                </dl>
               
               </div>
               </div>
        }
   


